body{
    background: orangered;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}
.contenedor{
    background-image: url(../Imagenes/fondo\ index.jpg);
    width: 100vw;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seleccion{
    display: grid;
    grid-gap: 50px;
}

#iniciar, #agregar{
    font-weight: bold;
    font-size: 24px;
    padding: 20px 25px;
    border-radius: 30px;
    border-style: none;
    max-width: 280px;
}

#iniciar{
    background: orangered;
}

#iniciar:hover, #agregar:hover{
    cursor: pointer;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: orangered;
    width:100vw;
    height: 5vh;
    font-size: 20px;
}